argon2-cffi-bindings==21.2.0
aws==0.2.5
awsebcli==3.20.3
bcrypt==3.2.0
bootstrap4==0.1.0
boto==2.49.0
botocore==1.23.54
cement==2.8.2
certifi==2021.10.8
cffi==1.15.0
charset-normalizer==2.0.12
colorama==0.4.3
cryptography==36.0.2
django==2.2
django-bootstrap3==21.2
django-bootstrap4==22.1
django-braces==1.15.0
django-crispy-forms==1.14.0
django-debug-toolbar==3.2.4
django-misaka==0.2.1
django-summernote==0.8.20.0
enum34==1.1.10
fabric==2.7.0
future==0.16.0
houdini.py==0.1.0
idna==3.3
invoke==1.7.0
jinja2==3.1.1
jmespath==0.10.0
keyring==9.0
keyrings.alt==4.1.0
markupsafe==2.1.1
misaka==2.1.1
paramiko==2.10.3
pathlib2==2.3.7.post1
pathspec==0.9.0
pillow==9.1.0
prettytable==3.2.0
pycparser==2.21
pygments==2.11.2
pynacl==1.5.0
pyqt5==5.15.6
pyqt5-qt5==5.15.2
pyqt5-sip==12.10.1
python-dateutil==2.8.2
pyyaml==5.4.1
requests==2.26.0
semantic-version==2.8.5
six==1.14.0
soupsieve==2.3.2.post1
termcolor==1.1.0
urllib3==1.26.5
wcwidth==0.1.9
webencodings==0.5.1
wincertstore==0.2
